body {
    position: relative;
    background-image: url('photo-1428542244207-0aaec316e609.jpeg');
}

p {
    text-align: center;
    margin: auto auto auto auto;
    display: block;
    font-family: courier;
    font-size: 30px
}

input {
    width: 550px;
    height: 25px;
    border: 1px solid #3492F7;
    margin: 20px auto;
    display: block;
}
