html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin-top: 10%;
    margin-bottom: 20%;
}

p {
    text-align: center;
    margin: auto;
    display: block;
    font-family: courier;
    font-size: 30px
}

input {
    width: 550px;
    height: 25px;
    border: 1px solid #3492F7;
    margin: 20px auto;
    display: block;
}

#email_send, #question_send, #result, #submit {
    display: none;
}
