<!DOCTYPE HTML>
<html>

<head>
	<title>Meet Bob | Focus on what you love, Bob will do the rest</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="./js/ie/html5shiv.js"></script><![endif]-->
	<link rel='stylesheet' type='text/css' href='css/main2.css' />
	<link rel="stylesheet" href="./css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="./css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-86644418-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1>Hi, I'm Bob, your personal coder</h1>
			<p>How can I help you today?</p>

		<form id="form" autocomplete="off">
			<div id="question_form">
				<h2>
            <textarea id="question" name="question" type="text" value="" placeholder="Please tell us what your problem is"></textarea></h2>
			</div>
			<!-- <p>Ask me anything:
	                        <li>Export data from a website</li>
	                        <li>Update an excel spreadsheet</li>
	                        <li>Send multiple emails</li>
	                </p> -->
			<div id="email_send">
				<p>
					<!-- <label for="email">Please give us your email</label> -->
					<input id="email" name="email" type="email" placeholder="Email address" value=""></p>
			</div>
			<div id="buttons">
				<div id="la">
					<!-- <div class="progress">
	                <div class="progress-bar" role="progressbar"></div>
	            </div> -->
					<button class="btn btn-lg upload-btn" type="button">Upload File</button>


					<input id="submit" type="submit" value="Send" />
				</div>
			</div>
			<div id="result">
				<p>Thank you!<br/> You'll get an answer in less than 24h!</p>
			</div>
		</form>
	</header>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="questions" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Questions</h2>
						</header>

						<h2>What can I ask him exactly?</h2>
						<p>Extract data from a website, find email addresses, send a customized email to 200 people, unsubscribe to all my spams, copy data from a PDF or a picture into Excel, change the title of 20 Powerpoint presentations, make macros on Excel, download
								automatically the latest episode of Game of Thrones… and many more. Just ask him !</p>

						<h2>How does it work?</h2>
						<p>Bob is an amazing coder. He can do all these boring tasks you do at work, pretty quickly. Once you’ve asked him something, he will work day and night to write code to simplify your life. When his job is done, you will receive an email with what
								you asked for. It could be either an Excel spreadsheet, a Powerpoint presentation, a CSV, a small executable program… Now, do you still want to do what Bob can do for you?</p>


						<h2>Do I have to pay to use Bob?</h2>
						<p>Bob is currently in beta, and it is entirely free for now.</p>

						<h2>Human after all?</h2>
						<p>Bob is a human-backed artificial intelligence. We take the best of both to provide you both high quality and rapidity</p>

						<h2>How much time does Bob take to do my boring tasks?</h2>
						<p>Usually less than 24 hours. If we estimate that is could last a bit longer, you will be noticed up-front by e-mail.</p>


						<h2>Does Bob use my private data?</h2>
						<p>Absolutely not. Bob respects your privacy at any time. All the files that would be sent back and forth would be deleted after Bob’s job is done. If the information you provide is deemed too critical, we can sign an NDA before receiving it.</p>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.scrollex.min.js"></script>
	<script src="./js/jquery.scrolly.min.js"></script>
	<script src="./js/skel.min.js"></script>
	<script src="./js/util.js"></script>
	<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
	<script src="./js/main.js"></script>
	<script data-cfasync="false" type="text/javascript" src="javascripts/main.js"></script>
	<script data-cfasync="false" type="text/javascript" src="javascripts/upload.js"></script>

</body>

</html>
