html {
  background: url('../imgs/image.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  display: inline-block;
}

@font-face {
    font-family: "aller";
    src: url('../Aller_Rg.ttf');
}

h2 {
    text-align: center;
    display: block;
    font-family: aller;
    font-size: 25px;
    color: CDCDDB;
}
p {
    text-align: center;
    display: block;
    font-family: aller;
    font-size: 25px;
    color: CDCDDB;
}
li {
    text-align: center;
    display: block;
    font-family: aller;
    font-size: 25px;
    color: CDCDDB;
}
ul {
    padding: 0;
}
input {
    border: 1px solid #000000;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    background: rgba(208, 206, 248, 0.2);
    font-size: 23px;
    color: white;
    font-family: sans-serif;
}

textarea {
  padding: 5px;
  border: 1px solid #000000;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  background: rgba(208, 206, 248, 0.2);
  font-size: 23px;
  color: white;
  font-family: sans-serif;
}

#submit {
  padding: 5px;
  border: 1px solid #000000;
  margin: 20px auto;
  border-radius: 5px;
  background: rgba(56, 45, 20, 0.6);
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
  /*margin-left: 45%;*/
}

#result {
  display: none;
}

#header a {
  color: CDCDDB;
  font-family: aller;
  text-decoration: none;
}


h1 {
    text-align: center;
    display: block;
    font-family: aller;
    font-size: 35px;
    color: CDCDDB;
}
h3 {
    text-align: center;
    display: block;
    font-family: aller;
    font-size: 20px;
    color: CDCDDB;
}

#upload-input {
  display: none;
}

.upload-btn {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: rgba(56, 45, 20, 0.6);
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
  margin-left: 42.5%;
  color: white;
}

.her {
  margin: 1% 1% 1% 1%;
}
